.page-sidebar-minified {
	.sidebar {
		width: 60px;
		position: absolute;
		
		.nav {
			& > li {
				& > a {
					padding: 1rem;
					
					& span {
						display: none;
					}
					& i {
						margin: 0;
					}
				}
			}
			li {
				&.has-sub {
					& > .sub-menu {
						display: none !important;
					}
				}
			}
		}
	
		.nav-header {
			display: none;
		}

		.slimScrollDiv {
			.slimScrollBar,
			.slimScrollRail {
				display: none !important;
			}
		}
		.sidebar-right {
			.slimScrollDiv,
			.slimScrollDiv > div {
				overflow: hidden !important;
			}
			.slimScrollBar {
				display: block !important;
			}
		}
	}
	
	.page-with-right-sidebar {
		.sidebar {
			.nav {
				& > li {
					& > .sub-menu {
						padding: 10px 30px 10px 0;
					}
				}
			}
		}
		.sidebar-minify-btn {
			i {
				&:before {
					content: '\f100';
				}
			}
		}
	}
	.page-sidebar-fixed {
		.sidebar {
			position: fixed;
			
			.slimScrollDiv,
			.slimScrollDiv > div {
				overflow: hidden !important;
			}
		}
	}
	&:not(.page-sidebar-fixed) {
		.sidebar {
			.slimScrollDiv,
			.slimScrollDiv > div {
				overflow: visible !important;
				height: auto !important;
			}
		}
	}
}

@media (min-width: 768px) {
	.page-sidebar-minified.page-with-right-sidebar {
		margin-right: 60px;
		margin-left: 0; 
	} 
}