.btn-scroll-to-top {
  padding: 0;
	width: 2rem;
	height: 2rem;
	border: none;
	z-index: 1020;
  display: grid;
	right: 1.5rem;
	bottom: 1.5rem;
	position: fixed;
	border-radius: 100%;
  align-items: center;
  justify-content: center;
	background-color: rgba(45, 53, 60, .75);

  i { 
    font-weight: 600;
    font-size: .75rem;
    color: #ffffff;
    &:first-child { margin-bottom: -.7rem; }
    &:last-child { margin-top: -.7rem; }
  }
}