.favorite {
  width: 100%;
  z-index: 1010;
  height: 3.5rem;
  background: #ffffff;
  padding: .25rem 1.5rem;
  border-bottom: .1rem solid #e4e9f2;

  .swiper-container {
    width: 100%;
    height: 100%;
    
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        
        i {
          color: #a9a9a9;
          font-size: 1.25rem; 
          padding: .5rem 1.5rem;
          &:hover {
            color: #d61e3f;
            transition: 250ms ease-in;
          }
        }
      }
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      color: #d61e3f;
      font-size: .85rem;
      font-weight: bold;
    }
    .swiper-button-prev::after { margin-left: -2.75rem; }
    .swiper-button-next::after { margin-right: -2.75rem; }
  }
  
  .swiper-container-horizontal > .swiper-pagination-progressbar {
    bottom: 0;
    top: auto;
    height: .15rem;
    background: inherit;
  
    .swiper-pagination-progressbar-fill {
      background: #d61e3f;
      height: .15rem;
    }
  }
}
