.pace {
	top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  opacity: 1;
  z-index: 1030;
	position: fixed;
	background: none;
  transition: opacity 1s;

	.pace-progress {
    height: .15rem;
    margin-top: 5rem;
    background: #2d353c;
		transition: all 250ms ease-in;
				
		.pace-progress-inner { display: none; }
	}
	.pace-activity {
		top: 7rem;
    width: 1rem;
    height: 1rem;
    right: 1.5rem;
    z-index: 1030;
		display: block;
    position: fixed;
		border-radius: 2.5rem;
    border: .1rem solid transparent;
    border-top-color: #2d353c;
    border-left-color: #2d353c;
    animation: pace-spinner 400ms linear infinite;
	}
}
.pace-inactive {
  display: block;
  opacity: 0;
}

@keyframes pace-spinner {
  from { transform: rotate(0deg); }
	to { transform: rotate(360deg); } 
}

@media (max-width: 767.98px) {
  .pace { height: 8.5rem; }
	.pace .pace-activity { top: 10rem; } 
	.pace .pace-progress {  margin-top: 8.5rem; } 
}
