.page-sidebar-minified {
  .content { margin-left: 4rem; }
  .footer .footer-banner .footer-banner-info .footer-banner-info-grid { display: flex; }

	.sidebar {
    width: 4rem;
    height: 100%;

    .slimScrollDiv { 
      .slimScrollBar, 
      .slimScrollRail { 
        display: none !important; 
      }
    }
    .nav {
      .nav-header { display: none; }
      & > li > a { 
        padding: 1.25rem; 
        span { display: none !important; }
      }
      li ul { display: none !important; }
    }
  }
}
