.float-sub-menu-container {
	margin: 0;
	width: 20rem;
  z-index: 1020;
	position: fixed;
  background: #242b30;

  .float-sub-menu-arrow {
    left: 0;
    width: 2rem;
    height: .15rem;
    position: absolute;
    background: #2d353c;
    top: 1.75rem !important;
  }
	.float-sub-menu {
    margin-bottom: 0;
    list-style-type: none;
    padding: .75rem 0 .75rem 2rem;

		li {
      position: relative;
      &:first-child::before { top: 1rem; }
      &:last-child {
        &::before {
          bottom: auto;
          height: 1rem;
        }
        &:last-child:before { height: 1rem; }
        &:nth-child(1):before { height: 0; }
      }
      &::before {
        content: '';
        top: 0;
        bottom: 0;
        left: -.75rem;
        width: .15rem;
        position: absolute;
        background: #2d353c;
      }
      a {
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        padding: .5rem 1.5rem .5rem 0;
        color: rgba(255, 255, 255, 0.45);
        &:hover, &:focus { color: #ffffff; }
				&::after {
          top: 1rem;
          content: '';
          left: -.75rem;
          width: .75rem;
          height: .15rem;
          position: absolute;
          background: #2d353c;
        }
        i { font-size: .9rem; }
        span {
          width: 100%;
          display: flex;
          font-size: .9rem;
          align-items: center;
          margin: 0 0 0 .5rem;
          justify-content: space-between;
          i {
            font-size: .7rem;
            font-weight: 100;
            margin-left: .5rem;
          }
				}
      }
      ul {
        display: none;
        margin-bottom: 0;
        padding: 0 0 0 1rem;
        list-style-type: none;

        li {
          position: relative; 
          &::before {
            top: 0;
            bottom: 0;
            content: '';
            left: -.75rem;
            width: .15rem;
            position: absolute;
            background: #2d353c;
          }
          &:first-child {
            &::before { top: -.75rem; }
            &:last-child:before { height: 2.25rem; }
          }
          &:last-child {
            &::before {
              bottom: auto;
              height: 1rem;
            }
            &:last-child:before { height: 1rem; }
            &:nth-child(1):before { height: 1.75rem; }
          }
          a {
            display: flex;
            position: relative;
            align-items: center;
            text-decoration: none;
            padding: .5rem 1.5rem .5rem 0;
            color: rgba(255, 255, 255, 0.45);
            &:hover, &:focus { color: #ffffff; }
            &::after {
              content: '';
              top: 1rem;
              left: -.75rem;
              width: .75rem;
              height: .15rem;
              position: absolute;
              background: #2d353c;
            }
            i { font-size: .9rem; }
            span {
              width: 100%;
              display: flex;
              font-size: .9rem;
              align-items: center;
              margin: 0 0 0 .5rem;
              justify-content: space-between;

              i {
                font-size: .7rem;
                font-weight: 100;
                margin-left: .5rem;
              }
            }
          }
        }
      }
		}
	}
}
