<div class="favorite">    
  <div class="swiper-container">    
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <i class="icon-user" data-toggle="tooltip" data-placement="bottom" title="Sócios torcedores"></i>
        </a>
      </div>
    </div>
    {# <div class="swiper-pagination"></div> #}              
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
