.btn-scroll-to-top {
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: none;
  z-index: 1020;
  display: grid;
  right: 1.5rem;
  bottom: 1.5rem;
  position: fixed;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(45, 53, 60, 0.75); }
  .btn-scroll-to-top i {
    font-weight: 600;
    font-size: .75rem;
    color: #ffffff; }
    .btn-scroll-to-top i:first-child {
      margin-bottom: -.7rem; }
    .btn-scroll-to-top i:last-child {
      margin-top: -.7rem; }
