.favorite {
  width: 100%;
  z-index: 1010;
  height: 3.5rem;
  background: #ffffff;
  padding: .25rem 1.5rem;
  border-bottom: .1rem solid #e4e9f2; }
  .favorite .swiper-container {
    width: 100%;
    height: 100%; }
    .favorite .swiper-container .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center; }
      .favorite .swiper-container .swiper-slide a {
        height: 100%;
        display: flex;
        align-items: center; }
        .favorite .swiper-container .swiper-slide a i {
          color: #a9a9a9;
          font-size: 1.25rem;
          padding: .5rem 1.5rem; }
          .favorite .swiper-container .swiper-slide a i:hover {
            color: #d61e3f;
            transition: 250ms ease-in; }
    .favorite .swiper-container .swiper-button-prev::after,
    .favorite .swiper-container .swiper-button-next::after {
      color: #d61e3f;
      font-size: .85rem;
      font-weight: bold; }
    .favorite .swiper-container .swiper-button-prev::after {
      margin-left: -2.75rem; }
    .favorite .swiper-container .swiper-button-next::after {
      margin-right: -2.75rem; }
  .favorite .swiper-container-horizontal > .swiper-pagination-progressbar {
    bottom: 0;
    top: auto;
    height: .15rem;
    background: inherit; }
    .favorite .swiper-container-horizontal > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #d61e3f;
      height: .15rem; }
