@media (max-width: 767.98px) {
  .page-sidebar-toggled .sidebar {
    left: 0;
    animation: sidebarSlideInLeft 250ms linear; } }

@keyframes sidebarSlideInLeft {
  from {
    left: -220px; }
  to {
    left: 0; } }
