.slimScrollDiv .slimScrollBar,
.slimScrollDiv .slimScrollRail {
  right: .25rem !important;
  width: .5rem !important; }

.slimScrollDiv .slimScrollBar {
  background: none !important; }
  .slimScrollDiv .slimScrollBar:before {
    left: 0;
    right: 0;
    top: .25rem;
    content: '';
    bottom: .25rem;
    position: absolute;
    border-radius: .75rem;
    background: rgba(253, 253, 253, 0.6) !important; }
