.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  height: 100%;
  z-index: 1010;
  position: fixed;
  padding-top: 5rem;
  background: #2d353c;
  transform: translateZ(0); }
  .sidebar .sidebar-overflow {
    overflow-x: inherit !important; }
  .sidebar .nav {
    display: block;
    margin-bottom: 0; }
    .sidebar .nav .nav-header {
      margin: 0;
      font-size: .85rem;
      line-height: 1.5rem;
      padding: 1.5rem 1.5rem .35rem;
      color: rgba(255, 255, 255, 0.45); }
    .sidebar .nav li {
      position: relative; }
      .sidebar .nav li .sidebar-minify-btn {
        float: right;
        margin: .25rem 0;
        background: #242b30;
        padding: .75rem 1rem !important;
        border-radius: 1.5rem 0 0 1.5rem; }
        .sidebar .nav li .sidebar-minify-btn i {
          font-weight: 600;
          font-size: .7rem; }
          .sidebar .nav li .sidebar-minify-btn i:first-child {
            margin-right: -.4rem; }
        .sidebar .nav li .sidebar-minify-btn:hover, .sidebar .nav li .sidebar-minify-btn:focus {
          color: #ffffff;
          transition: 250ms ease-in; }
      .sidebar .nav li:active > a i {
        color: #ffffff; }
      .sidebar .nav li::after, .sidebar .nav li::before {
        content: '';
        clear: both;
        display: table; }
      .sidebar .nav li a {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        text-decoration: none;
        justify-content: center;
        color: rgba(255, 255, 255, 0.6); }
        .sidebar .nav li a:hover, .sidebar .nav li a:focus {
          color: #ffffff; }
        .sidebar .nav li a::after, .sidebar .nav li a::before {
          content: '';
          clear: both;
          display: table; }
        .sidebar .nav li a i {
          font-size: 1rem; }
        .sidebar .nav li a span {
          width: 100%;
          display: flex;
          font-size: 1rem;
          margin-left: .5rem;
          align-items: center;
          justify-content: space-between; }
          .sidebar .nav li a span i {
            font-size: .8rem;
            font-weight: 600; }
      .sidebar .nav li ul {
        display: none;
        margin-bottom: 0;
        position: relative;
        padding-left: 2.9rem;
        list-style-type: none; }
        .sidebar .nav li ul:first-child::before {
          top: -1rem; }
        .sidebar .nav li ul li {
          position: relative; }
          .sidebar .nav li ul li:first-child::before {
            top: -1rem; }
          .sidebar .nav li ul li:last-child::before {
            bottom: auto;
            height: 1rem; }
          .sidebar .nav li ul li:last-child:last-child:before {
            height: 1rem; }
          .sidebar .nav li ul li:last-child:nth-child(1):before {
            height: 2rem; }
          .sidebar .nav li ul li::before {
            content: '';
            top: 0;
            bottom: 0;
            left: -1rem;
            width: .15rem;
            position: absolute;
            background: #242b30; }
          .sidebar .nav li ul li a {
            display: flex;
            position: relative;
            align-items: center;
            text-decoration: none;
            padding: .5rem 1.5rem .5rem 0;
            color: rgba(255, 255, 255, 0.45); }
            .sidebar .nav li ul li a::after {
              content: '';
              top: 1rem;
              left: -1rem;
              width: .75rem;
              height: .15rem;
              position: absolute;
              background: #242b30; }
            .sidebar .nav li ul li a i {
              font-size: .9rem; }
            .sidebar .nav li ul li a span {
              width: 100%;
              display: flex;
              font-size: .9rem;
              margin-left: .5rem;
              align-items: center;
              justify-content: space-between; }
              .sidebar .nav li ul li a span i {
                font-size: .7rem;
                font-weight: 100; }
          .sidebar .nav li ul li ul {
            display: none;
            margin-bottom: 0;
            position: relative;
            padding: 0 0 0 1rem;
            list-style-type: none; }
            .sidebar .nav li ul li ul li {
              position: relative; }
              .sidebar .nav li ul li ul li::before {
                top: 0;
                bottom: 0;
                content: '';
                left: -.75rem;
                width: .15rem;
                position: absolute;
                background: #242b30; }
              .sidebar .nav li ul li ul li:first-child::before {
                top: -.75rem; }
              .sidebar .nav li ul li ul li:first-child:last-child:before {
                height: 2.25rem; }
              .sidebar .nav li ul li ul li:last-child::before {
                bottom: auto;
                height: 1rem; }
              .sidebar .nav li ul li ul li:last-child:last-child:before {
                height: 1rem; }
              .sidebar .nav li ul li ul li:last-child:nth-child(1):before {
                height: 1.75rem; }
              .sidebar .nav li ul li ul li a {
                display: flex;
                position: relative;
                align-items: center;
                text-decoration: none;
                padding: .5rem 1.5rem .5rem 0;
                color: rgba(255, 255, 255, 0.45); }
                .sidebar .nav li ul li ul li a::after {
                  top: 1rem;
                  content: '';
                  left: -.75rem;
                  width: .75rem;
                  height: .15rem;
                  position: absolute;
                  background: #242b30; }
                .sidebar .nav li ul li ul li a i {
                  font-size: .9rem; }
                .sidebar .nav li ul li ul li a span {
                  width: 100%;
                  display: flex;
                  font-size: .9rem;
                  align-items: center;
                  margin: 0 0 0 .5rem;
                  justify-content: space-between; }
                  .sidebar .nav li ul li ul li a span i {
                    font-size: .7rem;
                    font-weight: 100;
                    margin-left: .5rem; }

.active {
  background: #242b30; }
  .active a i {
    color: #ffffff; }
  .active a span {
    color: #ffffff; }

.expand > a > span > i {
  transform: rotate(180deg);
  transition: 250ms linear; }

@media (max-width: 767.98px) {
  .sidebar {
    left: -20rem;
    z-index: 1021;
    padding-top: 0; } }

@media (max-width: 374.98px) {
  .sidebar {
    width: 18rem;
    left: -18rem;
    z-index: 1021;
    padding-top: 0; } }
