.float-sub-menu-container {
  margin: 0;
  width: 20rem;
  z-index: 1020;
  position: fixed;
  background: #242b30; }
  .float-sub-menu-container .float-sub-menu-arrow {
    left: 0;
    width: 2rem;
    height: .15rem;
    position: absolute;
    background: #2d353c;
    top: 1.75rem !important; }
  .float-sub-menu-container .float-sub-menu {
    margin-bottom: 0;
    list-style-type: none;
    padding: .75rem 0 .75rem 2rem; }
    .float-sub-menu-container .float-sub-menu li {
      position: relative; }
      .float-sub-menu-container .float-sub-menu li:first-child::before {
        top: 1rem; }
      .float-sub-menu-container .float-sub-menu li:last-child::before {
        bottom: auto;
        height: 1rem; }
      .float-sub-menu-container .float-sub-menu li:last-child:last-child:before {
        height: 1rem; }
      .float-sub-menu-container .float-sub-menu li:last-child:nth-child(1):before {
        height: 0; }
      .float-sub-menu-container .float-sub-menu li::before {
        content: '';
        top: 0;
        bottom: 0;
        left: -.75rem;
        width: .15rem;
        position: absolute;
        background: #2d353c; }
      .float-sub-menu-container .float-sub-menu li a {
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        padding: .5rem 1.5rem .5rem 0;
        color: rgba(255, 255, 255, 0.45); }
        .float-sub-menu-container .float-sub-menu li a:hover, .float-sub-menu-container .float-sub-menu li a:focus {
          color: #ffffff; }
        .float-sub-menu-container .float-sub-menu li a::after {
          top: 1rem;
          content: '';
          left: -.75rem;
          width: .75rem;
          height: .15rem;
          position: absolute;
          background: #2d353c; }
        .float-sub-menu-container .float-sub-menu li a i {
          font-size: .9rem; }
        .float-sub-menu-container .float-sub-menu li a span {
          width: 100%;
          display: flex;
          font-size: .9rem;
          align-items: center;
          margin: 0 0 0 .5rem;
          justify-content: space-between; }
          .float-sub-menu-container .float-sub-menu li a span i {
            font-size: .7rem;
            font-weight: 100;
            margin-left: .5rem; }
      .float-sub-menu-container .float-sub-menu li ul {
        display: none;
        margin-bottom: 0;
        padding: 0 0 0 1rem;
        list-style-type: none; }
        .float-sub-menu-container .float-sub-menu li ul li {
          position: relative; }
          .float-sub-menu-container .float-sub-menu li ul li::before {
            top: 0;
            bottom: 0;
            content: '';
            left: -.75rem;
            width: .15rem;
            position: absolute;
            background: #2d353c; }
          .float-sub-menu-container .float-sub-menu li ul li:first-child::before {
            top: -.75rem; }
          .float-sub-menu-container .float-sub-menu li ul li:first-child:last-child:before {
            height: 2.25rem; }
          .float-sub-menu-container .float-sub-menu li ul li:last-child::before {
            bottom: auto;
            height: 1rem; }
          .float-sub-menu-container .float-sub-menu li ul li:last-child:last-child:before {
            height: 1rem; }
          .float-sub-menu-container .float-sub-menu li ul li:last-child:nth-child(1):before {
            height: 1.75rem; }
          .float-sub-menu-container .float-sub-menu li ul li a {
            display: flex;
            position: relative;
            align-items: center;
            text-decoration: none;
            padding: .5rem 1.5rem .5rem 0;
            color: rgba(255, 255, 255, 0.45); }
            .float-sub-menu-container .float-sub-menu li ul li a:hover, .float-sub-menu-container .float-sub-menu li ul li a:focus {
              color: #ffffff; }
            .float-sub-menu-container .float-sub-menu li ul li a::after {
              content: '';
              top: 1rem;
              left: -.75rem;
              width: .75rem;
              height: .15rem;
              position: absolute;
              background: #2d353c; }
            .float-sub-menu-container .float-sub-menu li ul li a i {
              font-size: .9rem; }
            .float-sub-menu-container .float-sub-menu li ul li a span {
              width: 100%;
              display: flex;
              font-size: .9rem;
              align-items: center;
              margin: 0 0 0 .5rem;
              justify-content: space-between; }
              .float-sub-menu-container .float-sub-menu li ul li a span i {
                font-size: .7rem;
                font-weight: 100;
                margin-left: .5rem; }
