<div id="header" class="header">
  <div class="in-navbar-header-lt">
    <div class="in-navbar-header-lt-brand">
      <a href="#">
        <img src="images/redbull/redbullbragantinologo.png" alt="">
        <p><span>RedBull</span> Bragantino</p>
      </a>
    </div>
    <div class="in-navbar-header-lt-sidebar">
      <button type="button" data-click="sidebar-toggled">
        <span class="in-navbar-header-lt-sidebar-icon"></span>
        <span class="in-navbar-header-lt-sidebar-icon"></span>
        <span class="in-navbar-header-lt-sidebar-icon"></span>
      </button>
    </div>
  </div>    
  <ul class="in-navbar-header-rb">
    <li class="in-navbar-header-rb-search">
      <form action="" method="" name="">
        <div class="in-navbar-header-rb-search-group">
          <input type="text" class="in-navbar-header-rb-search-group-input" placeholder="Buscar..."/>
          <button class="in-navbar-header-rb-search-group-icon">
            <i class="icon-magnifier"></i>
          </button>
        </div>
      </form>
    </li>
    <li class="in-navbar-header-rb-user">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="in-navbar-header-rb-user-image">
          <i class="icon-user"></i>
        </div>
        <div class="in-navbar-header-rb-user-name">
          <span>igor.nicoletti</span>
          <i class="icon-arrow-down"></i>
        </div>
      </a>
      <div class="dropdown-menu ">
        <a href="#" class="dropdown-item"><i class="icon-user"></i>Editar perfil</a>        
        <a href="#" class="dropdown-item"><i class="icon-camera"></i>Atualizar foto</a>
        <a href="#" class="dropdown-item"><i class="icon-lock"></i>Alterar senha</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i class="icon-logout"></i>Sair</a>
      </div>
    </li>
  </ul>
</div>


{# 
<div id="header" class="header">
  <div class="navbar-header">
    <div class="navbar-brand">
      <a href="#">
        <img src="images/redbull/redbullbragantinologo.png" alt="">
        <p><span>RedBull</span> Bragantino</p>
      </a>
    </div>
    <div class="navbar-toggle">
      <button type="button" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  
  <ul class="navbar-nav navbar-right">
    <li class="navbar-form">
      <form action="" method="" name="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar..."/>
          <button class="btn-search"><i class="icon-magnifier"></i></button>
        </div>
      </form>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="in-navbar-header-rb-user-image">
          <i class="icon-user"></i>
        </div>
        <div class="in-navbar-header-rb-user-name">
          <span>igor.nicoletti</span>
          <i class="icon-arrow-down"></i>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item"><i class="icon-user"></i>Editar perfil</a>        
        <a href="#" class="dropdown-item"><i class="icon-camera"></i>Atualizar foto</a>
        <a href="#" class="dropdown-item"><i class="icon-lock"></i>Alterar senha</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i class="icon-logout"></i>Sair</a>
      </div>
    </li>
  </ul>
</div>
 #}
