.pace-top {
	.pace {
		.pace-progress { top: 0 !important; }
		.pace-activity { top: 1rem !important; }
	}
}

.pace {
	top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1030;
	position: fixed;
	background: none;
  transition: opacity 1s;
	
	.pace-progress {
		top: 3.5rem;
    height: .1rem;
    background: #00acac;
		transition: all 250ms linear;
				
		.pace-progress-inner { display: none; }
	}

	.pace-activity {
		top: 4.5rem;
    width: 1rem;
    height: 1rem;
    right: .75rem;
    z-index: 1030;
		display: block;
    position: fixed;
		border-radius: 2.5rem;
    border-top-color: #00acac;
    border-left-color: #00acac;
    border: .1rem solid transparent;
    animation: pace-spinner 400ms linear infinite;
	}
	.pace-inactive {
		display: block;
    opacity: 0;
	}
}
.pace-done {
	.pace {
		.pace-inactive {
			display: block;
		}
	}
}

@keyframes pace-spinner {
  from { transform: rotate(0deg); }
	to { transform: rotate(360deg); } 
}

@media (max-width: 767.98px) {
	.pace .pace-progress { top: 101px; } 
	.pace .pace-activity { top: 113px; } 
}