.slimScrollDiv {
	.slimScrollBar,
	.slimScrollRail {
		width: 6px !important;
  	right: 2px !important;
	}
	.slimScrollBar {
		background: none !important;		
		&:before {
			left: 0;
			right: 0;
			top: 2px;
			content: '';
			bottom: 2px;
			border-radius: 8px; 			
			position: absolute;
			background: #2d353c !important;
		}
	}
}
.inverse-mode {
	.slimScrollDiv {
		.slimScrollBar {
			&:before { 
				background: rgba(255, 255, 255, 0.5) !important; 
			}
		}
	}
}
