/**	Variáveis **/
$in-header-color-text: #1e1e2d;
$in-header-color-text-hover: #d61e3f;

$in-header-color-background: #ffffff;
$in-header-color-background-hover: #f2f4f5;

$in-header-color-icons: #a9a9a9;
$in-header-color-icons-hover: #d61e3f;

$in-header-color-border: #e4e9f2;
$in-header-color-border-hover: #d61e3f;

$in-header-color-background-input: #f9fafb;
$in-header-color-text-placeholder: #a9a9a9;

$in-header-color-boxshadow: rgba(0, 0, 0, 0.1);
$in-header-color-boxshadow-input: #d61e3f;



/* NAVBAR HEADER */
.in-navbar {
	padding-top: 5rem;

	.in-navbar-header {
		top: 0;
		width: 100%;
		height: 5rem;
		display: grid;
		z-index: 1020;
		position: fixed;
		grid-template-columns: auto 1fr;
		
		.in-navbar-header-lt {
			height: 100%;
			display: flex;
			align-items: center;
			padding: .75rem 1.5rem;
			justify-content: space-between;
			background: $in-header-color-background;
			border-bottom: .1rem solid $in-header-color-border;

			.in-navbar-header-lt-brand a {
				display: flex;
				align-items: center;
				img {
					width: auto;
					height: 3.5rem;
					margin-right: 1rem;
				}
				p {					
					color: #001a4b;
					font-weight: 100;
					margin-bottom: 0;
					font-size: 1.75rem;
					line-height: 1.5rem;
					text-transform: uppercase;
					span { 
						color: #d61e3f;
						font-weight: bold; 
					}
				}
			}
			.in-navbar-header-lt-sidebar {		
				display: none;
				padding: .75rem 0 .75rem .75rem;
				
				button {
					border: none;
					background: inherit;
					&:hover {
						opacity: 0.75;
						transition: 250ms ease-in;
					}
					
					.in-navbar-header-lt-sidebar-icon {
						width: 1.75rem;
						display: block;
						height: 0.12rem;
						border-radius: 0.25rem;
						background: $in-header-color-text;
						& + .in-navbar-header-lt-sidebar-icon {
							margin-top: 0.35rem;
						}
					}
				}
			}
		}

		.in-navbar-header-rb {
			margin: 0;
			height: 100%;
			display: flex;
			padding: .75rem 1.5rem;
			align-items: center;
			justify-content: flex-end;
			background: $in-header-color-background;
			border-bottom: .1rem solid $in-header-color-border;

			.in-navbar-header-rb-search { 
				.in-navbar-header-rb-search-group {
					position: relative;

					.in-navbar-header-rb-search-group-input {
						width: 17rem;
						border-radius: 2rem;
						padding: .5rem 3rem .5rem 1.5rem;	
						background: $in-header-color-background-input;
						border: 0.1rem solid $in-header-color-border;
						&:hover {
							transition: 250ms ease-in;
							border: 0.1rem solid $in-header-color-border-hover;
						}
						&:focus {
							width: 22rem;
							transition: 250ms ease-in;
							animation: navbar-input-expand 250ms;
							border: 0.1rem solid $in-header-color-border-hover;
						}
						&::-webkit-input-placeholder {
							color: $in-header-color-text-placeholder;
						}
					}
					.in-navbar-header-rb-search-group-icon {
						top: 0;
						right: 0;
						bottom: 0;
						border: none;
						background: none;
						position: absolute;
						align-items: center;
						border-radius: 2rem;
						padding: 0.5rem 1rem;
						color: $in-header-color-icons;
					}
				}
			}
			.in-navbar-header-rb-user > a {
				display: flex;
				align-items: center;
				margin-left: 2.5rem;

				.in-navbar-header-rb-user-image {
					display: flex;
					width: 2.75rem;
					height: 2.75rem;
					overflow: hidden;
					object-fit: cover;
					margin-right: 1rem;
					border-radius: 2rem;
					align-items: flex-end;
					background-size: cover;
					justify-content: center;
					background-position: center;
					background-repeat: no-repeat;
					background: $in-header-color-background-input;
					border: 0.1rem solid $in-header-color-border;
					i {
						font-size: 1.75rem;
						color: $in-header-color-icons;
					}
				}
				.in-navbar-header-rb-user-name {
					color: $in-header-color-text;
					i {
						font-size: .75rem;
						margin-left: 1rem;
						color: $in-header-color-icons;
						&:hover {
							color: $in-header-color-icons-hover;
						}
					}
				}
			}
		}
	}
}

/* header - dropdown */
.dropdown-menu {
	font-size: 1rem;
	margin-top: 1rem;
	box-shadow: 0 0 1.25rem -0.25rem $in-header-color-boxshadow;

	.dropdown-item {
		text-decoration: none;
		padding: .75rem 5rem .75rem 1.5rem;
		color: $in-header-color-text;
		&:hover {
			transition: 250ms ease-in;
			color: $in-header-color-text-hover;
			background: $in-header-color-background-hover;
		}
		i { margin-right: 1rem; }
	}
}

@media (max-width: 992px) {
	.in-navbar-header-rb {
		.in-navbar-header-rb-search-group-input {
			width: 15rem !important;
			&:focus {
				animation: none;
				width: 15rem !important;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.in-navbar {
		padding-top: 8.5rem;

		.in-navbar-header {
			height: 8.5rem;
			grid-template-columns: 1fr;

			.in-navbar-header-lt {
				.in-navbar-header-lt-brand a {
					img { height: 2.5rem; }
					p { font-size: 1.25rem; }
				}
				.in-navbar-header-lt-sidebar {
					display: flex;
				}
			}
			.in-navbar-header-rb {
				.in-navbar-header-rb-search {
					width: 100% !important;
					.in-navbar-header-rb-search-group-input {
						width: 100% !important;
						&:focus {
							animation: none;
							width: 100% !important;
						}
					}
				}
				.in-navbar-header-rb-user > a {
					margin-left: 2rem;
					.in-navbar-header-rb-user-image {
						margin: 0 !important;
					}
					.in-navbar-header-rb-user-name span {
						display: none;
					}
				}
			}
		}
	}
}
