#page-loader {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 9999;
	position: fixed;
	background: #d9e0e7;
	
	.fade {	display: none;
		.in, .show { display: block; }
		.d-none { .spinner { animation: none; }}
	}
}

.spinner {
	top: 50%;
  left: 50%;
  width: 36px;
	height: 36px;
  margin: 0 auto;
  position: absolute;
  border-radius: 36px;
  margin: -18px 0 0 -18px;
  animation: rotation 0.6s infinite linear;
  border: 2px solid rgba(45, 53, 60, 0.85);
  border-top: 2px solid #FFFFFF;
}
.spinner-small {
	top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  position: absolute;
  border-radius: 30px;
  margin: -15px 0 0 -15px;
  animation: rotation 0.6s infinite linear;
  border: 2px solid rgba(45, 53, 60, 0.85);
  border-top: 2px solid #FFFFFF;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}