.sidebar {
	top: 0;
	left: 0;
  bottom: 0;
  width: 20rem;
  z-index: 1010;
  padding-top: 5rem;
  position: absolute;
  background: #2d353c;
	transform: translateZ(0);

	.nav {
		display: block;
		margin-bottom: 0;

		.nav-header {
			margin: 0;
			font-weight: 600;
			font-size: .85rem;
			line-height: 1.5rem;
			padding: 1.5rem 1.5rem .5rem;
			color: rgba(255, 255, 255, 0.45);
		}

		li {
			position: relative;

			.sidebar-minify-btn {
				float: right;
				margin: .25rem 0;
				background: #242b30;
				padding: .75rem 1rem !important;
				border-radius: 1.5rem 0 0 1.5rem; 
		
				i {
					font-weight: 600;
					font-size: .7rem;
					&:first-child { margin-right: -.4rem; }
				}
				&:hover, &:focus { 
					color: #ffffff;
					transition: 250ms ease-in;
				}
			}

			&:active > a i { color: #ffffff; }
			&::after, &::before {
				content: '';
				clear: both;
				display: table;
			}

			a {
				display: flex;
				align-items: center;
				padding: 1rem 1.5rem;
				text-decoration: none;
				justify-content: center;
				color: rgba(255, 255, 255, 0.6);

				&:hover, &:focus { color: $white; }
				&::after, &::before {
					content: '';
					clear: both;
					display: table;
				}
	
				i { font-size: 1rem; }
				span {
					width: 100%;
					display: flex;
					font-size: 1rem;
					margin-left: .5rem;
					align-items: center;
					justify-content: space-between;
	
					i {
						font-size: .8rem;
						font-weight: 600;
					}
				}
			}

			ul {
				display: none;
				margin-bottom: 0;
				position: relative;
				padding-left: 2.9rem;
				list-style-type: none;

				&:first-child::before { top: -1rem; }

				li {
					position: relative;

					&:first-child::before { top: -1rem; }
					&:last-child {
						&::before {
							bottom: auto;
							height: 1rem;
						}
						&:last-child:before {
							height: 1rem;
						}
						&:nth-child(1):before {
							height: 2rem;
						}
					}
					&::before {
						content: '';
						top: 0;
						bottom: 0;
						left: -1rem;
						width: .1rem;
						position: absolute;
						background: #242b30;
					}

					a {
						display: flex;
						position: relative;
						align-items: center;
						text-decoration: none;
						padding: .5rem 1.5rem .5rem 0;
						color: rgba(255, 255, 255, 0.45);

						&::after {
							content: '';
							top: 1rem;
							height: .1rem;
							left: -1rem;
							width: .75rem;
							position: absolute;
							background: #242b30;
						}

						i { font-size: .9rem; }
						span {
							width: 100%;
							display: flex;
							font-size: .9rem;
							margin-left: .5rem;
							align-items: center;
							justify-content: space-between;

							i {
								font-size: .7rem;
								font-weight: 100;
							}
						}
					}

					ul {
						display: none;
						margin-bottom: 0;
						position: relative;
						padding: 0 0 0 .8rem;
						list-style-type: none;

						li {
							position: relative;

							&::before {
								top: 0;
								bottom: 0;
								content: '';
								left: -1rem;
								width: .1rem;
								position: absolute;
								background: #242b30;
							}
							&:first-child {
								&::before {
									top: -1.25rem;
								}
								&:last-child:before {
									height: 2.25rem;
								}
							}
							&:last-child {
								&::before {
									bottom: auto;
									height: 1rem;
								}
								&:last-child:before {
									height: 1rem;
								}
								&:nth-child(1):before {
									height: 2.25rem;
								}
							}

							a {
								display: flex;
								position: relative;
								align-items: center;
								text-decoration: none;
								padding: .5rem 1.5rem .5rem 0;
								color: rgba(255, 255, 255, 0.45);
								
								&::after {
									content: '';
									top: 1rem;
									height: .1rem;
									left: -1rem;
									width: .75rem;
									position: absolute;
									background: #242b30;
								}

								i { font-size: .9rem; }
								span {
									width: 100%;
									display: flex;
									font-size: .9rem;
									align-items: center;
									margin: 0 0 0 .5rem;
									justify-content: space-between;

									i {
										font-size: .7rem;
										font-weight: 100;
										margin-left: .5rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.active {
	background: #242b30;
	a i { color: #ffffff;	}
	a span { color: #ffffff; }
}

.expand > a > span > i {
	transform: rotate(180deg);
	transition: 250ms linear;
}

@media (max-width: 767.98px) {
	.sidebar {
		left: -20rem;
		z-index: 1021; 
		padding-top: 0;
	}
}
@media (max-width: 374.98px) {
	.sidebar {
		width: 18rem;
		left: -18rem;
		z-index: 1021; 
		padding-top: 0;
	}
}


