<div class="footer">
  <div class="footer-banner">
    <div class="footer-banner-logo">
      <img src="images/2morrowsports/2morrowsportslogo.png" alt="">
    </div>
    <div class="footer-banner-info">
      <div class="footer-banner-info-grid">
        <div>
          <i class="icon-bubble"></i>
          <a href="https://api.whatsapp.com/send?phone=5517991510013&text=teste" target="_blank">+55 (16) 3102 6062</a>
        </div>
        <div>
          <i class="icon-envelope"></i>
          <a href="mailto:contato@2morrowsports.com.br">contato@2morrowsports.com.br</a>
        </div>
      </div>
      <p><span>2morrow Sports - </span>CNJP: 20.361.356/0001-68</p>
    </div>
  </div>
</div>
